#wfx-tooltip-back,#wfx-tooltip-next{
    color: #FFFFFF !important;
    font-size: 14px !important;
    background-color: #030000 !important;
    border-radius: 4px !important;
    font-weight: bold !important;
}

#wfx-tooltip-back,#wfx-tooltip-next{
    color: #FFD530 !important;
    background-color: #030000 !important;
}

[aria-label=Close][type=button]{
    font-weight:bold !important;
    border-radius: 4px !important;
}

[aria-label=Close][type=button]:hover{
   color: #FFD530 !important;
}

