/* SH Title */
body > table > tbody > tr:nth-child(1) > td > div > div[data-wfx-id="self-help-title"]  {
font-size : 18px !important;
font-weight: bold;
color: #FFFFFF !important; 
}

/* SH Flow Titles */
[id*="wfx-dashboard-self-help-flow-"] {
color: #030000 !important;
font-size : 16px !important;
}

/* SH Search Field */
input[id="search"]
{
font-size : 16px !important;
color: #727365 !important;  
}


#wfx-tooltip-back,#wfx-tooltip-next{
    color: #FFFFFF !important;
    font-size: 14px !important;
    background-color: #030000 !important;
    border-radius: 4px !important;
    font-weight: bold !important;
}

#wfx-tooltip-back,#wfx-tooltip-next{
    color: #FFD530 !important;
    background-color: #030000 !important;
}

[aria-label=Close][type=button]{
    border-radius: 4px !important;
}

[aria-label=Close][type=button]:hover{
   color: #FFD530 !important;
}

body > div > div> div > div:nth-child(1) > button{
font-size: 16px !important;
    color: #030000 !important;
    background-color: #BFB8A6 !important;
    border-radius: 4px !important;
    font-weight: bold !important;}

body > div > div> div > div:nth-child(1) > button: hover{
        background-color: #E5E5E5 !important; 
}

body > div > div > div > div:nth-child(2) > button{
    color: #FFFFFF !important;
    font-size: 16px !important;
    background-color: #030000 !important;
    border-radius: 4px !important;
    font-weight: bold !important;  
}

body > div > div > div{
   line-height:22px !important;
}

body > div > div > div > div:nth-child(2) > button:hover{
    color: #FFD530 !important;
    background-color: #030000 !important;
}

body > div[role="presentation"]{
    line-height: 22px;
}
